@import '../../../styles/tools/colors', '../../../styles/tools/fonts';

.formContent {
  // border: 1px solid red;
  width: calc(100% - 28px);
  height: calc(100vh - 28px);
  margin: auto;
  padding: 20px 16px 32px;
  border-radius: 8px;
  background-color: #f5f7f8;
  // overflow-y: scroll;
  overflow: hidden;
  &.successSignup {
    height: calc(70vh);
    margin: 0px 28px 168px;
    margin-top: 28px;
  }

  .formBody {
    height: 80%;
    // border: 2px solid blue;

    .form {
      height: 100%;
      width: 100%;
      position: relative;
      overflow-x: hidden;
      // overflow-y: scroll;
      .fieldContainer::-webkit-scrollbar {
        display: none;
      }
      .fieldContainer {
        height: 100%;
        padding-bottom: 48px;
        // border: 2px solid orangered;
        position: absolute;
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .fieldset {
          height: max-content;
          border: none;
          // border: 2px solid blue;
          width: 100%;
          display: flex;
          flex-direction: column;

          .label {
            // border: 2px solid red;
            margin: 0 13.1px 6px 0;
            font-size: $main-text;
            font-weight: $semi-bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            color: $black;
            .asterisque {
              color: red;
              font-weight: $light;
              vertical-align: text-bottom;
            }
          }
          .input {
            width: 100%;
            height: 40px;
            padding: 12px 16px 16px;
            border-radius: 4px;
            border: solid 1px #191919;
            margin-bottom: 20px;
            &.invalid {
              border: solid 1px $red;
              margin-bottom: 6px;
            }
          }
          .inputError {
            color: $red;
            margin-bottom: 20px;
          }
          .backButton {
            border: 1px solid red;
            width: 200px;
            margin: auto;
            margin-bottom: 0.5em;
            background-color: $red;
            padding: 0.3em;
            border-radius: 0.3em;
            color: $white;
          }
          .password {
            display: flex;
            align-items: center;
            .showPassword {
              width: 2em;
              height: 2em;
              margin-left: -3.5em;
              margin-top: -20px;
              cursor: pointer;
            }
          }
          .haveAccount {
            margin: auto;
            color: $inactive;
            margin-bottom: -1em;
          }
        }
      }
    }
  }
  .successBody {
    // border: 2px solid goldenrod;
    margin-top: 2em;
    height: 70%;
  }
}

.step1 {
  //   border: 2px solid rgb(255, 0, 183);
  left: 0%;
  width: 100%;

  transition: all 0.3s ease-in-out;
  &.display {
    left: -100%;
  }
  &.none {
    display: none;
  }
  .btnBox {
    width: 100%;
    // display: flex;
    // justify-content: center;
    margin: 1em auto 2em;
    .btnVert {
      width: 100%;
      height: 40px;
      margin: 28px 0 20px;
      margin: auto;
      padding: 12px 20px 14px;
      border-radius: 4px;
      background-color: $dark-green-2;
      color: $white;
      text-transform: uppercase;
      bottom: 0;
    }
  }
}
.step2 {
  // border: 2px solid rgb(21, 119, 113);
  left: 100vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  &.display {
    left: 0%;
  }
  .fieldset {
    width: 100%;
    .themeError {
      color: $red;
      font-weight: $bold;
      font-size: 1.3em;
      margin-bottom: 0.3em;
    }
    .themeBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 72px;
      margin: auto;
      margin-bottom: 16px;
      padding: 0 16px;
      border-radius: 12px;
      box-shadow: 8px 8px 32px 0 rgba(0, 60, 63, 0.12);
      background-color: #fff;
      cursor: pointer;
      .text {
        font-family: $font;
        font-size: $secondary-text;
        font-weight: $medium;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: $inactive;
      }
      &.selected {
        background-color: #fff;
        border: solid 4px #00565b;
        border-radius: 12px;
        box-shadow: 8px 8px 32px 0 rgba(0, 60, 63, 0.12);
        .text {
          color: #00565b;
        }
      }
    }
    .btnVert {
      height: 40px;
      margin: 28px auto 20px;
      padding: 12px 20px 14px;
      border-radius: 4px;
      background-color: $dark-green-2;
      color: $white;
      text-transform: uppercase;
      // position: fixed;
      width: 100%;
      // bottom: 28px;
    }
  }
}

.themeBtn:hover {
  background-color: rgb(182, 182, 192);
}

// -- Affichage Desktop --
// .formContent
.desktop {
  width: 648px;
  height: 650px !important;
  margin-top: 40px !important;
  // border: 1px solid gold;

  &.secondPart {
    height: 740px !important;
  }
  &.thirdPart {
    height: 620px !important ;
    margin: auto;
  }
  .successBody {
    height: 69%;
  }

  .formBody {
    height: 530px !important;
    // margin-top: -2em;
    .form {
      // border: 1px solid rgb(0, 111, 230);

      .step1 {
        height: 387px !important;

        .fieldset {
          height: 386px !important;
          flex-direction: row !important;
          flex-wrap: wrap;
          justify-content: space-between;
          padding-bottom: 1em;

          .inputBox {
            // border: 1px solid gold;
            width: calc(50% - 24px); //24px gap au mileu
          }
        }
        .btnBox {
          width: 100%;
          display: flex;
          justify-content: center;
          .btnVert {
            width: 151px;
            margin: 2em auto 1em;
            // margin-bottom: -1em;
          }
        }
        .haveAccount {
          width: auto;
        }
      }

      .step2 {
        // border: 2px solid rgb(199, 0, 80) !important;
        padding-bottom: 5em;

        .fieldset {
          .themesContainer {
            display: grid !important  ;
            grid-template-columns: repeat(3, 1fr);
            .themeBtn {
              width: 184px;
              height: 156px;
              display: flex !important;
              flex-direction: column-reverse;
              justify-content: space-evenly;
              text-align: center;
            }
          }
          .backButton {
            width: 110px;
            margin: auto;
            font-size: 1em;
          }
          .btnVert {
            position: unset;
            width: 151px;
            margin: 0.8em auto 0;
          }
        }
      }
    }
  }
}
