@import '../../../styles/tools/colors', '../../../styles/tools/fonts';
.formHeader {
  // height: 20%;
  width: 100%;
  margin-bottom: 1em;
  // border: 2px solid purple;

  .title {
    // height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $big;
    font-weight: $semi-bold;
    margin-bottom: 0.5em;
    //   border: 1px solid red;
    .close {
      font-size: 20px;
    }
  }
}
