$black : #191919;
$dark-green-1:#00565b;
$dark-green-1-opacity:#00565b86;
$dark-green-2:#01989F;
$light-green :#99E67B;
$red:#F95D5F;
$inactive:#9c9c9c;
$white: #FFFFFF;
$background: #f5f7f8;

$selection:#00565b79;