@import './colors', './fonts';

@mixin formContainer {
  z-index: 30;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $dark-green-1;
  display: flex;
  align-items: center;
}

@mixin formContent {
  width: calc(100% - 28px);
  height: calc(100vh - 28px);
  margin: auto;
  padding: 20px 16px 32px;
  border-radius: 8px;
  background-color: $background;
  overflow: hidden;
}

@mixin formHeader {
  width: 100%;
  margin-bottom: 1em;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $big;
    font-weight: $semi-bold;
    margin-bottom: 0.5em;
    .close {
      font-size: $story-title;
      cursor: pointer;
    }
  }
  .description {
    margin-bottom: 1em;
    .p {
      font-weight: $regular;
      font-size: $secondary-text;
    }
  }
}

@mixin formBody {
  //   border: 1px solid red;
  .form {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    // overflow-y: scroll;
    .fieldset {
      border: none;
      background-color: #191919;
      .label {
        // border: 2px solid red;
        margin: 0 13.1px 6px 0;
        font-size: $main-text;
        font-weight: $semi-bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: $black;
        .asterisque {
          color: red;
          font-weight: $light;
          vertical-align: text-bottom;
        }
      }
      .input {
        width: 100%;
        height: 40px;
        padding: 12px 16px 16px;
        border-radius: 4px;
        border: solid 1px #191919;
        margin-bottom: 20px;
        &.invalid {
          border: solid 1px $red;
          margin-bottom: 6px;
        }
      }
      .inputError {
        color: $red;
        margin-bottom: 20px;
      }
    }
  }
}

@mixin fieldsetHeader {
    width: 100%;
    .title {
      font-family: $font;
      font-size: $third-text;
      font-weight: $semi-bold;
      font-stretch: normal;
      font-style: italic;
      line-height: 1;
      letter-spacing: normal;
      color: $dark-green-2;
    }
    .separation {
      height: 10px;
    //   background-color: red;
      border-bottom: 2px solid $dark-green-2;
    }
}
