@import '../../../../../styles/tools/colors',
  '../../../../../styles/tools/fonts', '../../../../../styles/tools/form';

.fieldset {
  border: none;
  margin-bottom: 3em;
  .part1 {
    margin: 0px 16px 16px;
    .fieldsetHeader {
      @include fieldsetHeader;
      display: flex;
      .titleBox {
        margin-right: 1em;
        .title {
          text-transform: uppercase;
        }
      }
      .separation {
        width: 100%;
      }
    }

    .selectRessource {
      // border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      .button {
        width: max-content;
        height: 32px;
        padding: 8px 12px 10px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 16px;
        border: solid 1.5px #d5d5d5;
        cursor: pointer;
        .text {
          @include basics;
          color: $txt-inactive-btn;
          text-align: center;
        }
        &.selected {
          background-color: $dark-green-1;
          border-color: $dark-green-1;
          .text {
            color: $white;
          }
        }
      }
    }
    .inputInfos {
      border: 2px solid gold;
    }
  }
  .inputBox {
    .label {
      @include label;
      font-size: $third-text;
      display: block;
      width: 100% !important;
      margin: 16px 0 4px;
      .asterisque {
        color: red;
        font-weight: $light;
        vertical-align: text-bottom;
      }
    }
    .input {
      @include input;
      background-color: $background;
      margin-top: 0.3em !important;
      margin-bottom: unset;
    }
    .input::placeholder {
      @include placeholder;
    }
    .select {
      padding: 0 16px;
      .option {
        font-size: 12px;
      }
    }
    .textarea {
      height: 80px;
      padding-bottom: 1em;
    }
    .textarea::placeholder {
      @include placeholder;
    }
  }

  .transformation {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 16px;
    .inputBox {
      // border: 1px solid red;
      display: flex;
      align-items: center;

      .label2 {
        font-weight: $regular;
        font-size: $third-text;
        margin-left: 16px;
      }
    }
  }
}
