@import '../../../../styles/tools/form','../../../../styles/tools/colors', '../../../../styles/tools/fonts';

.formHeader{
    @include formHeader;
    margin-bottom: 24px;
    .description{
        @include basics;
        line-height: 1.67;
        opacity: 0.72;
        font-size: $third-text;
        margin-bottom: unset;
    }
}
