@import '../../../../styles/tools/colors', '../../../../styles/tools/fonts';

.description {
    margin-bottom: 1em;
    //   border: 1px solid red;
    .p {
      font-weight: $regular;
      font-size: $secondary-text;
    }
  }