@import '../styles/tools/colors', '../styles/tools/fonts';
// 
  .loading {
    border: 2px solid $dark-green-2;
    border-radius: 0.5em;
    padding: 1em;
    position: absolute;
    width: calc(100vw - 4em);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    //
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: white;
    .p {
      text-transform: uppercase;
      font-weight: $semi-bold;
      font-size: $main-text;
      text-align: center;
      color: $dark-green-2;
    }
    .image {
      animation: rotation 2s infinite linear;
    }
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
