@import '../../../styles/tools/colors', '../../../styles/tools/fonts';

.storiesSection {
  width: inherit;
  margin: 0 2em;
  padding-top: 80px;
  // border: 1px solid blue;
  .separation {
    height: 2px;
    background-color: #f5f7f8;
    margin-bottom: 24px;
  }
  .separation2 {
    height: 2px;
    background-color: #f5f7f8;
    margin-bottom: 10px;
  }
  .storyContainer {
    width: 100%;
    // border: 1px solid pink;
    padding: 20px 16px 39px;
    //
    position: relative;
    // margin-bottom car storyReaction est en position absolute
    margin-bottom: 3em;
    .storyCard {
      // border: 1px solid blue;
      border-radius: 8px;
      box-shadow: 8px 8px 32px 0 rgba(0, 60, 63, 0.12);
      background-color: $white;
      padding: 20px 16px 39px;

      .theme {
        @include basics;
        font-size: $secondary-text;
        letter-spacing: 0.6px;
        color: $dark-green-2;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      .writter {
        @include basics;
        font-size: $third-text;
        color: $black;
        opacity: 0.72;
        margin-bottom: 20px;
      }
      .title {
        @include basics;
        font-weight: $semi-bold;
        font-size: $story-title;
        margin-bottom: 16px;
      }
      .content {
        @include basics;
        font-size: $secondary-text;
        line-height: 2;
        color: $black;
        opacity: 0.72;
        margin-bottom: 1em;
        .readMore {
          color: $dark-green-2;
        }
      }
      .about {
        display: flex;
        flex-direction: column;
        align-items: end;
        .ressource {
          display: flex;
          flex-direction: row;
          align-items: center;
          .text {
            @include basics;
            font-size: $third-text;
            color: $black;
            opacity: 0.72;
            cursor: pointer;
          }
          .image {
            cursor: pointer;
          }
        }
        .professional {
          @include basics;
          font-size: $third-text;
          color: $black;
          opacity: 0.72;
          margin-bottom: 26px;
          .proName {
            @include basics;
            color: $black;
            font-weight: $semi-bold;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .storyAction {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .comments {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .iconAction {
          font-size: $icon-story-action;
          cursor: pointer;
        }
      }
    }
    .storyReaction {
      min-width: 80%;
      max-width: 90%;
      padding: 4px;
      border-radius: 24px;
      border: solid 2px rgba(25, 25, 25, 0.12);
      background-color: #f6f6f6;
      //
      position: absolute;
      bottom: -1em;
      left: 4em;
      //
      display: flex;
      justify-content: space-between;
      .reactionBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 24px;
        padding-top: 0.2em;
        // border: 1px solid blue;
        &.selected {
          border-radius: 12px;

          box-shadow: inset 0 0 8px 0 rgba(25, 25, 25, 0.16);
          background-color: rgba(213, 213, 213, 0.72);
        }

        .iconReaction {
          // font-size: $icon-story-reaction;
          height: 35px;
          width: auto;
          cursor: pointer;
        }
        .numberReaction {
          // @include basics;
          // line-height:unset;

          font-weight: $medium;
          font-size: $secondary-text;
          // text-align: right;
        }
      }
    }
  }
  .btnRose {
    width: 100%;
    height: 40px;
    margin: 28px 0 20px;
    padding: 12px 20px 14px;
    border-radius: 4px;
    background-color: $red;
    color: $white;
    text-transform: uppercase;
  }
  // Affichage Desktop
  // .storySection
  &.desktop {
    // border: 2px solid red;
    margin: 48px 38.8em 0em; // ou 388px;
    width: auto;
    padding-top: 0;
    .separation {
      display: none;
    }
    .storyContainer {
      // border: 2px solid blue;

      padding: 0 0 39px 0;
      .header {
        display: flex;
        justify-content: space-between;
        .writter {
          text-align: end;
          line-height: 1.5;
          font-size: 14px;
        }
      }
      .storyCard {
        padding-bottom: 26px;
        .title {
          font-size: $story-title-desktop;
        }
        .content {
          .readMore {
            // float: right;
          }
        }
        .footer {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          .storyAction {
            width: 36% !important;
            .iconAction {
              font-size: $icon-story-action-desktop;
            }
          }
        }
      }
    }
  }
}
