@import '../../../styles/tools/colors', '../../../styles/tools/fonts';

.storyReaction {
  // min-width: 80%;
  max-width: 90%;
  border-radius: 36px;
  padding: 4px;
  border: solid 2px rgba(25, 25, 25, 0.12);
  background-color: #f6f6f6;
  //
  position: absolute;
  bottom: 0.5em;
  left: 8em;
  //
  display: flex;
  align-items: center;
  gap: 1em;
  .reactionBox {
    // border: 1px solid blue;
    display: flex;
    padding: 0.4em 0;
    &.selected {
      border-radius: 24px;
      // padding: 0em 0.3em;
      box-shadow: inset 0 0 8px 0 rgba(25, 25, 25, 0.16);
      background-color: rgba(213, 213, 213, 0.72);
    }

    .iconReaction {
      // height: 35px;
      // width: auto;
      font-size: $icon-story-reaction;
      cursor: pointer;
      // &.feather::before{
      //   content: "\01FAB6";
      // }
    }
    .fontawesome{
      width: 1.2em;
      cursor: pointer;
      color: gray;
    }
    .numberReaction {
      // @include basics;
      font-weight: $medium;
      font-size: $secondary-text;
      margin-bottom: 0.3em;
    }
  }
  // Affichage desktop
  // .storyReaction
  &.desktop {
    min-width: 50%;
    max-width: 70%;
    left: unset;
    bottom: 0;
    right: 5em;
    .reactionBox {
      flex-direction: row;
    }
  }
}
