@import '../../../../../../styles/tools/colors',
  '../../../../../../styles/tools/fonts', '../../../../../../styles/tools/form';

.part2 {
  // border: 1px solid green;
  margin-top: 16px;
  .inputBox {
    .label {
      @include label;
      font-size: $third-text;
    }
    .asterisque {
      @include asterisque;
    }
    .input {
      @include input;
      padding-top: unset;
      padding-bottom: unset;
      background-color: rgba(0, 0, 0, 0.05);

      &.invalid {
        margin-bottom: -1.5em;
      }
    }
  }
}
.customInput {
 @include customInput;
 .placeholder{
  @include placeholder;
 }
}

