.themeBtn:hover  p{
    color: blue;
    background-color: rgb(182, 182, 192);
}

div.selected{
    border: 2px solid green;
    background-color: rgb(23, 175, 114);
}

.selected{
    color: purple;
}