.formContainer {
  z-index: 30;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // border: 2px solid purple;
  background-color: #00565bb4;
  display: flex;
  align-items: center;

//   .formContent {
//     width: calc(100% - 56px);
//     margin: auto;
//     padding: 20px 16px 32px;
//     border-radius: 8px;
//     background-color: #f5f7f8;
//   }
}
