@import '../../styles/tools/colors', '../../styles/tools/fonts';

.container {
  // border: 2px solid blue;
  height: 100%;
  padding: 1em 0em;
  background-color: $dark-green-2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .icon {
    height: 8em;
    width: 8em;
  }
  .p1{
    margin: 0px 40px;
    font-family: $font;
    font-size: 2em;
    font-weight: $regular;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .p2, .p3{
    margin: 0px 16px;
    font-family: $font;
    font-size: $secondary-text;
    font-weight: $light;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .email{
      // border: 1px solid red;
      color: $light-green;
      font-weight: $medium;
  }
  .button {
    width: 177px;
    padding: 12px 20px 14px;
    border-radius: 4px;
    border: solid 2px #fff;
    text-transform: uppercase;
    color: $white;
  }
}
