@import '../../styles/tools/colors', '../../styles/tools/fonts';
.message {
  height: 2em;
  // border: 1px solid red;
  color: red;
  text-align: center;
}
.navbar {
  // border: 1px solid red;
  position: fixed;
  z-index: 20;
  margin: 0, 28px;
  padding: 20px 28px;
  height: 80px;
  width: 100vw;
  background-color: $dark-green-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .iconToggleMenu{
    font-size: 4em;
    fill: $white;
  }
}

