@import '../styles/tools/colors', '../styles/tools/fonts';
.desktop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    .coteDroit{
        position: fixed;
        right: 0;
        z-index: 20;
        overflow-x: hidden;
        height: 740px;
        width: 300px;
        margin: 48px 48px 0 0;
        border: 2px solid $dark-green-2;
        border-radius: 8px;
        flex-shrink: 0;
        // background-color: rgb(220, 18, 18);
    }
}