@import'../../styles/tools/colors';
.sideMenu{
    border: 2px solid red;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: $dark-green-1 ;
    padding: 24px 28px 0px 28px;
    position: fixed;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    &.active{
    transform: translateX(0%);

    }
}
