@import '../../styles/tools/colors', '../../styles/tools/fonts',
  '../../styles/tools/buttons';

.sideMenuContainer {
  // border: 2px solid red;
  margin-top: 80px;
  z-index: 20;
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: $dark-green-1;
  padding: 0px 28px 0px 28px;
  position: fixed;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  &.active {
    transform: translateX(0%);
  }
  .menuLogin {
    margin: 28px 0px ;
    display: flex;
    align-items: center;
    gap: 12px;
    &:hover {
      cursor: pointer;
      // padding-left: 1em;
      .p {
        color: $red;
      }
      .icon {
        fill: $red;
      }
    }
    .p {
      font-size: 1.4em;
      color: $white;
      font-weight: $light;
      font-family: $font;
      font-style: italic;
    }
    .icon {
      // border: 2px solid red;
      font-size: $icon24;
      fill: white;
    }
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    .btnRose {
      width: 100%;
      height: 40px;
      margin-bottom: 44px;
      // margin: 28px 0 20px;
      // padding: 12px 20px 14px;
      border-radius: 4px;
      background-color: $red;
      color: $white;
    }
    .btnTransparent {
      width: 100%;
      height: 40px;
      // margin: 20px 0 0;
      // padding: 12px 20px 14px;
      border-radius: 4px;
      border: solid 2px $white;
      color: $white;
    }

    &.messagerie {
      flex-direction: row;
      align-items: center;
      height: 44px;
      padding: 10px 12px;
      margin: 40px 0px 44px;
      border-radius: 8px;
      background-color: $dark-green-2;
      color: white;
      width: 100%;
      font-size: $secondary-text;
      .gauche {
        .icon {
          fill: white;
          font-size: $icon24;
          display: block;
          margin-right: 12px;
        }
      }
      .droite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 24px;

        .message {
          display: flex;
          p {
            text-transform: uppercase;
          }
        }
        .nombre {
          background-color: $red;
          height: 24px;
          width: 24px;
          border-radius: 50px;
          display: flex;
          p {
            margin: auto;
          }
        }
      }
    }
  }
  .bigButtonInMenu {
    @include bigButtonInMenu;
    &.espacePro {
      background-color: transparent;
      border: 2px solid $white;
    }
    &.ressources{
      background-color: transparent;
      height: auto !important;
      p:first-of-type{
        border-bottom: 2px solid $white;
      }
    }
  }
  .menuItemContainer {
    margin-bottom: 3em;
    &.first {
      margin-top: 1em;
    }
    .item {
      display: flex;
      align-items: center;
      gap: 12px;
      .p {
        font-size: 1.6em;
        color: $white;
        font-weight: $regular;
        font-family: $font;
      }
      .icon {
        // border: 2px solid red;
        font-size: $icon24;
        fill: white;
      }
    }
    &:hover {
      cursor: pointer;
      padding-left: 1em;
      .p {
        color: $red;
      }
      .icon {
        fill: $red;
      }
    }
    &.logout{
      margin-bottom: unset;
      .item{
        // border: 1px solid red;
        justify-content: center;
        .icon{
          font-size: $secondary-text;
        } 
        .p{
          font-size: $secondary-text; 
          font-weight: $light;
        }
      }
    }
  }
  //Affichage Desktop
  // .sideMenuContainter
  &.desktop {
    transform: unset;
    position: fixed;
    width: 300px;
    height: auto;
    margin: 48px 0 0 48px;
    padding: 32px 32px 55px;
    border-radius: 8px;
    flex-shrink: 0;
    overflow-x: hidden;
  }
}
.test {
  font-size: 4em;
  color: red;
}
